* {
  z-index: 2 !important;
}

.container {
  position: relative;
  margin-top: 18px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  display: flex;
  flex-direction: column;
  z-index: 2 !important;
  background-color: #fff !important;
  border-radius: 15px;
  width: 450px !important;
  height: 30%;
  box-shadow: 10px 10px 72px -11px rgba(0, 0, 0, 0.29) !important;
}

.card-title {
  text-align: center !important;
  color: #000;
}

.card-text {
  text-align: center;
}

.card-img {
  background-color: #bbe6ff;
  border-radius: 10px 10px 50px 50px !important;
  height: 380px;
  z-index: 1 !important;
}

.card-top {
  position: relative;
  height: 375px;
}

.card-content {
  position: relative;
  padding: 28px 30px 0px 26px;
}

.card-subInfo {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}

.card-subInfo p {
  color: #505050;
}

.black-bold {
  color: #000;
  size: 20px;
}

.btn-card {
  background-color: #bbe6ff;
  position: absolute;
  size: 30px;
  padding: 25px;
  border: 0px;
  border-radius: 15px;
  z-index: 3 !important;
}

.heart-icon {
  right: 0px;
}

.fa-star {
  color: yellow;
  margin-right: 10px;
  border: 1px solid;
}

.fa-lg {
  font-size: 1.5em !important;
}

.fa,
.fas {
  border: 0px;
}

.card-stars {
  position: relative;
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: auto;
}
.home-title {
  size: 25px;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
}
.home-subtitle {
  padding: 0px 50px 0px 50px;
  text-align: center;
  color: #00000059;
  margin-bottom: 0px !important;
  margin-top: 15px !important;
}
.home-img {
  position: relative;
  display: flex;
  width: 215px;
  /* margin-top: 15%; */
}

.home-btn {
  position: absolute;
  height: 3rem;
  width: 150px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 32px;
  background-color: #ff774d;
  bottom: 4rem;
}

@media only screen and (max-width: 600px) {
  * {
    z-index: 2 !important;
  }

  .container {
    position: relative;
    margin-top: 30px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: flex;
    flex-direction: column;
    z-index: 2 !important;
    background-color: #fff !important;
    border-radius: 2.5rem;
    width: 95% !important;
    height: 615px !important;
    -webkit-box-shadow: 10px 0px 92px 11px rgba(0, 0, 0, 0.53) !important;
    -moz-box-shadow: 10px 0px 92px 11px rgba(0, 0, 0, 0.53) !important;
    box-shadow: 10px 0px 92px 11px rgba(0, 0, 0, 0.53) !important;
  }

  .card-title {
    text-align: center !important;
    color: #000;
  }

  .card-text {
    text-align: center;
  }

  .card-img {
    position: relative;
    height: 100%;
    background-color: #bbe6ff;
    border-radius: 2rem 2rem 50px 50px !important;
    z-index: 1 !important;
  }

  .card-top {
    position: relative;
    height: 45%;
  }

  .card-content {
    position: relative;
    /* padding: 35px; */
  }

  .card-subInfo {
    /* padding: 10px; */
    text-align: center;
  }

  .card-subInfo p {
    color: #505050;
  }

  .black-bold {
    color: #000;
    size: 20px;
  }

  .btn-card {
    background-color: transparent;
    position: absolute;
    top: 0%;
    size: 30px;
    padding: 25px;
    border: 0px;
    border-radius: 1rem;
    z-index: 3 !important;
  }

  .heart-icon {
    right: 0px;
  }

  .fa,
  .far,
  .fas {
    font-family: "Font Awesome 5 Free";
    color: #fff;
    display: flex !important;
  }

  .fa,
  .far,
  .fas:focus {
    outline: 0px !important;
  }

  .likedPink {
    color: #fff;
  }
  button:focus {
    outline: 0px !important;
  }

  .fa-star {
    color: yellow;
    margin-right: 10px;
    border: 0px solid;
  }

  .fa-lg {
    font-size: 2.2em !important;
  }

  .card-stars {
    position: relative;
    display: flex;
    width: 127px;
    margin-left: auto;
    margin-right: auto;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto;
  }
  .home-title {
    size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 20%;
  }
  .home-subtitle {
    padding: 0px 50px 0px 50px;
    text-align: center;
    color: #00000059;
    margin-bottom: 0px !important;
    margin-top: 15px !important;
  }
  .home-img {
    position: relative;
    display: flex;
    width: 250px;
    margin-top: 5%;
  }

  .home-btn {
    position: absolute;
    height: 3rem;
    width: 150px;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 32px;
    background-color: #ff774d;
    bottom: 4rem;
  }
}
